---
import Layout from '../layouts/Layout.astro';

const locals = Astro.locals;

const result = await locals.pb.collection('books').getList(1, 2, {
  expand: "author_id,genres_id",
});

---
    
<Layout title="Books - Readcyle" transition:name="book_zoom" transition:persist>
    <h1 class="inline-block text-3xl sm:text-3xl font-extrabold text-primary-content tracking-tigh">Voilà tous les livres en réserve !</h1>
    <h2 class="italic text-accent-content">Vous y trouverez sûrement votre bonheur</h2>

    <ul class="flex">
 {
  result.items.map((book: any) => (
  <li>
    <div class="card card-side bg-base-200 shadow-xl mx-5 my-5 min-w-fit max-w-xl">
    <a href=`/books/${book.id}`>
      <figure ><img transition:name=`book-img-${book.id}` src={`https://backendpblivres.hop.sh/api/files/ct4mfehqanmpshs/${book.id}/${book.cover}`} alt="Movie"/></figure>
    </a>
    <div class="card-body">
        <h1 class="card-title link"><a href=`/books/${book.id}`>Titre: {book.title}</a></h1>
        <p><span class="text-neutral-content text-lg font-bold">Auteur: </span><a href=`/authors/${book.author_id}` class="link">{book.expand.author_id.first_name}, {book.expand.author_id.last_name}</a></p>
        <p>
          <span class="text-neutral-content text-lg font-bold">Genres: </span>
          {
            book.expand.genres_id.map((genre: any) => (
              genre.lenght % 2 == 0 ? genre.name : genre.name + ", "
            ))
          }
        </p>
        <p><span class="text-neutral-content text-lg font-bold">Editeur: </span><a href=`${book.editor}` class="link">{book.editor}</a></p>
        <p><span class="text-neutral-content text-lg font-bold">ISBN: </span>{book.isbn}</p>


        <div class="card-actions justify-end">
          <button class="btn btn-primary" onclick={`sum_modal_${book.id}.showModal()`}>Voir le sommaire</button>
        </div>

      </div>
      <dialog id={`sum_modal_${book.id}`} class="modal modal-bottom sm:modal-middle">
        <div class="modal-box">
          <h3 class="font-bold text-lg">Sommaire</h3>
          <p set:html={book.summary}/>
          <div class="modal-action">
            <form method="dialog">
              <button class="btn btn-primary">Fermer</button>
            </form>
          </div>
        </div>
      </dialog>
    </div>
  </li>
  ))
}

    </ul>
   

    <!--Composant à réaliser prenant un nombre comme props en et proposant les pages alentours-->
    <div class="tabs tabs-boxed">
      <a class="tab tab-active">Tab 1</a> 
      <a class="tab">Tab 2</a> 
      <a class="tab">Tab 3</a>
    </div>
</Layout>







